#wholeparent {
    display: grid;
    grid-template-columns: 25vw auto;
    justify-content: start;
    font-size: 1.2rem;
}

#applybutton {
    margin-left: 15vw;
    margin-right: 10vw;
    display: grid;
    grid-template-columns: 5vw 5vw;
    grid-template-rows: 5vh 5vh;
    
}

#fave {
    background-color: pink;
    border-radius: 15px;
    font-weight: bold;
}

#apply {
    background-color: blue;
    border-radius: 15px;
    color: white;
    font-weight: bold;
}

#summarygrid {
}

#summaryinfo {
    padding-top: 20vh;
    height: 50vh;
}


