.masterMyPage{
    background-image: url(../pics/Hex.png);
    display: grid;
    grid-template-columns: auto 80vw;
    justify-content: start
}

#Title {
    background-color: rgb(108, 248, 248);
    width: 110%;
    border-radius: 5%;
}

.values {
    display: flex;
    width: 15vw;
    height: 100vh;
    justify-content:space-around;
    background-color: rgb(208, 201, 201);
    opacity: 85%;
    overflow-y: auto;
}

.span {
    background-color: grey;
    margin:auto;
    width:110%;
    padding:5%;
    /* color:white; */
    margin-top:10%;
    /* margin-right:15%; */
    border-radius: 25px;
    opacity:85%;
    cursor:pointer;
    /* text-align: center; */
}

.chosen {
    background-color: green;
    width:110%;
    padding:5%;
    /* color:white; */
    margin-top:10%;
    margin-right:15%;
    border-radius: 25px;
    opacity:85%;
    cursor:pointer;
}

.faves {
    margin-top: 10vh;;
    margin-left: 10vw;
    width: 72vw;
    height: 70vh;
}

#titleforfav {
    margin-left: -11vw;
}
