#postajob {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    padding-top: 5vh;
}

#inputside {
    background-color: whitesmoke;
    height: 48vh;
    width: 50vh;
    border-radius: 15px;
    padding: 20px
}

#displayside {
    background-color: whitesmoke;
    height: 80vh;
    width: 50vh;
    overflow-y: scroll;
    border-radius: 15px;
    padding: 20px
}

#jobinfohere {
    display: grid;
    grid-template-columns: 20vw;
    padding: 10px;
}

.jobinputs {
    padding: 10px;
    margin-top: 2vh;
}

#pressthis {
    background-color: blue;
    color: white;
    font-weight: bold;
}